body {
  background-color : #1f1f1f;
  margin : 0;
  font-family : 'Lucida Grande', Arial;
}
a {
  @include link-colors( #f0f0f0 );
}
h2 {
  color : #d0d0d0;
  text-align : left;
  margin : 8px 0 4px 10px;
  font-weight:bold;
  font-size:22px;
}

form {
  margin-left:12px;
  abbr {
    color:#ff0000;
  }
  label {
    display : block;
    width : 6em;
    color : #ccc;
    text-align : left;
    font-size:14px;
    margin-bottom:2px;
    margin-top:4px;
  }

  .actions{
    display:block;
    text-align:left;
    padding-top:6px;
    a {
      font-size:11px;
    }
  }
  
  .error{
    display:block;
    margin:6px 0;
  }
  
  .input {
    margin:8px 0 8px;
    
    input[type="file"] {
      color:#fff;
    }
    
    input.string{
      @include box-shadow(rgba(#000000, 0.2) 3px 3px 3px 1px inset);
      @include border-radius(5px);
      width:200px;
      display:block;
      background-color:#111111;
      height:24px;
      border:0;
      margin:4px 0 4px;
      color:#ccc;
      font-size:16px;
      padding:4px 10px;
    }
  }
}
#content {
  @include container;
  margin:auto;
}
#posts{
  @include container;
  
  text-align:left;
  margin-top:25px;
  
  
  >.post {
    @include inline-block;
    @include border-radius(2px);
    @include box-shadow(black 0 6px 12px 2px);
    
    margin:0 10px 20px;
    border:10px solid #fff;
    height:250px;
    width:250px;
    position:relative;
    
    .overlay {
      @include background-image(radial-gradient(#fff, #000 200px));
      @include opacity(.1);
      
      position:absolute;
      z-index:999;
      width:100%;
      height:100%;
    }
    
    &:hover {
      border-color:#fff;
      
      .info {
        @include opacity(.6);
        
        background-color:#000;
        position:absolute;
        display:block;
        height:250px;
        width:250px;
        bottom:0;
        left:0;
      
        h2 {
          color       : white;
          font-size   : 30px;
          font-weight : normal;
          font-family : Courier;
          text-align  : center;
          width       : 100%;
          margin-top  : 105px;
          
          sup {
            vertical-align:40%;
            font-family:Georgia;
            font-size:20px;
            margin-right:2px;
          }
        }

        p{
          font-size:12px;
          margin:6px 12px 0 12px;
        }
      }
    }
    
    .info {
      display:none;
    }
  
    .edit {
      @include replace-text-with-dimensions('icons/picture_edit.png');
      @include opacity(.7);
      position:absolute;
      cursor:pointer;
      top:12px;
      left:220px;
      z-index:9999;
      
      &:hover {
        @include opacity(1);
      }
    }
  }
}

#footer {
  @include opacity(.9);
  @include linear-gradient(color-stops(#1f1f1f,#000000));
  height: 70px;
  position: fixed;
  width:100%;
  bottom: 0;
  z-index: 100;
  margin:0;
  overflow:hidden;
  padding:0;
  left:0;
  ul {
    display:none;
    @include horizontal-list;
  }
  li {
    margin-right:1.3em;
    font-size:36px;
    font-family:Georgia;
    line-height:52px;
    color:#000;
  }
  a {
    @include link-colors(#111, #000);
    @include hover-link;
    text-decoration:none;
  }
}