body {
  background-color:#0f0f0f;
}
form {
  padding: 10px;
  h2 {
    color:#ccc;
    text-align:left;
    margin:10px 0 8px 0;
  }
  label {
    display: block;
    width:6em;
    color:#ccc;
    text-align:left;
  }
  .input {
    margin:6px 0;
  }
  .input input{
    width:200px;
    display:block;
  }
  .actions{
    display:block;
    text-align:left;
  }
  .error{
    display:block;
    margin:6px 0;
  }
}
#content {
  position:relative;
  display:block;
  height:640px;
  overflow:hidden;
  width:1200px;
}

#posts{
  width:1200px;
  position:absolute;
  overflow:hidden;
  text-align:center;
  margin-top:25px;
  >.post {
    @include inline-block;
    margin:0 15px 30px;
    border:1px solid #666;
    height:250px;
    width:250px;
    position:relative;
  
    .info {
      display:none;
    }
  
    .edit {
      position:absolute;
      top:0;
      left:0;
    }
  
    &:hover {
      cursor:pointer;
      border-color:#333;
      .info {
        @include opacity(.9);
        color:#ccc;
        position:absolute;
        height:85px;
        width:250px;
        bottom:0;
        left:0;
        background-color:black;
        display:block;
      
        h2 {
          font-size:18px;
          margin:12px 24px 6px 12px;

        }

        p{
          font-size:12px;
          margin:6px 12px 0 12px;
        }
      }
    }

  }
}

#footer {
  @include opacity(.7);
  @include border-radius(5px);
  border:1px solid;
  border-color:#BBBBBB #AAAAAA #888888;
  height: 54px;
  padding-left: 24px;
  position: fixed;
  width:30px;
  bottom: 20px;
  z-index: 100;
  background-color:#ccc;
  margin:0 0 0 2px;
  overflow:hidden;
  
  ul {
    display:none;
    @include horizontal-list();
  }
  li {
    margin-right:1.3em;
    font-size:36px;
    font-family:Georgia;
    line-height:52px;
    color:#000;
  }
  a {
    @include link-colors(#111, #000);
    @include hover-link;
    text-decoration:none;
  }
}