body {
  background-color:#1f1f1f;
  margin:0;
  font-family:Georgia;
}
a {
  @include link-colors(#f0f0f0);
}
form {
  padding: 10px;
  
  h2 {
    color:#ccc;
    text-align:left;
    margin:10px 0 8px 0;
  }
  
  label {
    display: block;
    width:6em;
    color:#ccc;
    text-align:left;
  }
  
  .input {
    margin:6px 0;
    
    input[type="file"] {
      color:#fff;
    }
    
    input{
      width:200px;
      display:block;
    }
  }
  
  .actions{
    display:block;
    text-align:left;
  }
  
  .error{
    display:block;
    margin:6px 0;
  }
}

#content {
  position:relative;
  display:block;
  height:925px;
  overflow:hidden;
  width:1180px;
  margin:0 auto;
}

#posts{
  position:absolute;
  overflow:hidden;
  text-align:left;
  margin-top:25px;

  >.post {
    @include inline-block;
    @include border-radius(2px);
    @include box-shadow(black 0 6px 12px 2px);
    
    margin:0 10px 20px;
    border:10px solid #fff;
    height:250px;
    width:250px;
    position:relative;
    
    .overlay {
      @include background-image(radial-gradient(#fff, #000 200px));
      @include opacity(.1);
      
      position:absolute;
      z-index:999;
      width:100%;
      height:100%;
    }
    
    &:hover {
      border-color:#fff;
      
      .info {
        @include opacity(.6);
        
        background-color:#000;
        position:absolute;
        display:block;
        height:250px;
        width:250px;
        bottom:0;
        left:0;
      
        h2 {
          color       : white;
          font-size   : 30px;
          font-weight : normal;
          font-family : Courier;
          text-align  : center;
          width       : 100%;
          margin-top  : 105px;
          
          sup {
            vertical-align:40%;
            font-family:Georgia;
            font-size:20px;
            margin-right:2px;
          }
        }

        p{
          font-size:12px;
          margin:6px 12px 0 12px;
        }
      }
    }
    
    .info {
      display:none;
    }
  
    .edit {
      @include replace-text-with-dimensions('icons/picture_edit.png');
      @include opacity(.7);
      position:absolute;
      cursor:pointer;
      top:12px;
      left:220px;
      z-index:9999;
      
      &:hover {
        @include opacity(1);
      }
    }
  }
}

#footer {
  @include opacity(.7);
  background: #0f0f0f image-url('bg-footer.png') repeat-x bottom left;
  height: 70px;
  position: fixed;
  width:100%;
  bottom: 0;
  z-index: 100;
  margin:0;
  overflow:hidden;
  padding:0;
  left:0;
  ul {
    display:none;
    @include horizontal-list;
  }
  li {
    margin-right:1.3em;
    font-size:36px;
    font-family:Georgia;
    line-height:52px;
    color:#000;
  }
  a {
    @include link-colors(#111, #000);
    @include hover-link;
    text-decoration:none;
  }
}