// Imports -------------------------------------------------------------------
@import "susy";
@import "compass";
@import "blueprint/form";
@import "compass/utilities/sprites/base";
@import "icons/picture_edit.png";
@include all-icons-sprites;


// Grid ----------------------------------------------------------------------

$total-cols: 4;
$col-width: 250px;
$gutter-width: 32px;
$side-gutter-width: $gutter-width;
$show-grid-backgrounds: true;