/* line 1, ../../sass/_app.scss */
body {
  background-color: white;
  min-width: 1200px;
}

/* line 5, ../../sass/_app.scss */
form {
  *zoom: 1;
  margin: auto;
  width: 1108px;
  max-width: 100%;
  line-height: 3;
}
/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p180@image-grid/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
form:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 18, ../../../../.rvm/gems/ruby-1.9.2-p180@image-grid/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form label {
  font-weight: bold;
}
/* line 19, ../../../../.rvm/gems/ruby-1.9.2-p180@image-grid/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p180@image-grid/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p180@image-grid/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.text, form input.title, form input[type=email], form input[type=text], form input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 27, ../../../../.rvm/gems/ruby-1.9.2-p180@image-grid/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.title {
  font-size: 1.5em;
}
/* line 29, ../../../../.rvm/gems/ruby-1.9.2-p180@image-grid/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p180@image-grid/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form select {
  margin: 0.5em 0;
}
/* line 55, ../../../../.rvm/gems/ruby-1.9.2-p180@image-grid/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form fieldset {
  border: 1px solid #cccccc;
}
/* line 58, ../../../../.rvm/gems/ruby-1.9.2-p180@image-grid/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.text, form input.title, form input[type=email], form input[type=text], form input[type=password],
form textarea {
  background-color: #fff;
  border: 1px solid #bbbbbb;
}
/* line 61, ../../../../.rvm/gems/ruby-1.9.2-p180@image-grid/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.text:focus, form input.title:focus, form input[type=email]:focus, form input[type=text]:focus, form input[type=password]:focus,
form textarea:focus {
  border: 1px solid #666666;
}
/* line 65, ../../../../.rvm/gems/ruby-1.9.2-p180@image-grid/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form select {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
}
/* line 44, ../../../../.rvm/gems/ruby-1.9.2-p180@image-grid/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.text, form input.title, form input[type=email], form input[type=text], form input[type=password] {
  width: 300px;
}
/* line 46, ../../../../.rvm/gems/ruby-1.9.2-p180@image-grid/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form textarea {
  width: 390px;
  height: 250px;
}
/* line 6, ../../../../.rvm/gems/ruby-1.9.2-p180@image-grid/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form p {
  margin-bottom: 0;
}
/* line 10, ../../sass/_app.scss */
form label {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  width: 6em;
}
/* line 7, ../../../../.rvm/gems/ruby-1.9.2-p180@image-grid/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
form label {
  *display: inline;
}
/* line 14, ../../sass/_app.scss */
form .actions {
  display: inline;
  float: left;
  width: 47.292%;
  margin-right: 1.805%;
  padding-left: 24.549%;
}
/* line 18, ../../sass/_app.scss */
form .error {
  display: block;
}

/* line 22, ../../sass/_app.scss */
.content {
  *zoom: 1;
  margin: auto;
  width: 1108px;
  max-width: 100%;
}
/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p180@image-grid/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.content:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 26, ../../sass/_app.scss */
.row {
  *zoom: 1;
  margin: auto;
  width: 1108px;
  max-width: 100%;
}
/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p180@image-grid/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.row:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 29, ../../sass/_app.scss */
.alpha {
  margin-left: 1.805%;
}

/* line 32, ../../sass/_app.scss */
.omega {
  display: inline;
  float: right;
  margin-right: 1.805%;
  #margin-left: -20px;
}

/* line 36, ../../sass/_app.scss */
#posts .post {
  display: inline;
  float: left;
  width: 22.744%;
  margin-right: 1.805%;
  margin-bottom: 20px;
  border: 1px solid white;
  height: 250px;
  width: 250px;
  position: relative;
}
/* line 44, ../../sass/_app.scss */
#posts .post .info {
  display: none;
}
/* line 48, ../../sass/_app.scss */
#posts .post .edit {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 54, ../../sass/_app.scss */
#posts .post:hover {
  cursor: pointer;
  border-color: #333;
}
/* line 57, ../../sass/_app.scss */
#posts .post:hover .info {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  color: #ccc;
  position: absolute;
  height: 85px;
  width: 250px;
  bottom: 0;
  left: 0;
  background-color: black;
  display: block;
}
/* line 68, ../../sass/_app.scss */
#posts .post:hover .info h2 {
  font-size: 18px;
  margin: 12px 24px 6px 12px;
}
/* line 74, ../../sass/_app.scss */
#posts .post:hover .info p {
  font-size: 12px;
  margin: 6px 12px 0 12px;
}

/* line 84, ../../sass/_app.scss */
#footer {
  clear: both;
  margin-left: 1.805%;
  margin-right: 1.805%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid;
  border-color: #BBBBBB #AAAAAA #888888;
  height: 54px;
  left: 40px;
  min-width: 490px;
  padding-left: 24px;
  position: fixed;
  right: 40px;
  bottom: 20px;
  z-index: 100;
  background-color: #ccc;
}
/* line 100, ../../sass/_app.scss */
#footer ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 60, ../../../../.rvm/gems/ruby-1.9.2-p180@image-grid/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#footer ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../.rvm/gems/ruby-1.9.2-p180@image-grid/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#footer ul li:first-child, #footer ul li.first {
  padding-left: 0;
}
/* line 49, ../../../../.rvm/gems/ruby-1.9.2-p180@image-grid/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#footer ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../.rvm/gems/ruby-1.9.2-p180@image-grid/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#footer ul li.last {
  padding-right: 0;
}
/* line 103, ../../sass/_app.scss */
#footer li {
  margin-right: 1.3em;
  font-size: 36px;
  font-family: Georgia;
  line-height: 52px;
  color: #000;
}
/* line 110, ../../sass/_app.scss */
#footer a {
  color: #111111;
  text-decoration: none;
  text-decoration: none;
}
/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p180@image-grid/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#footer a:hover {
  color: black;
}
/* line 4, ../../../../.rvm/gems/ruby-1.9.2-p180@image-grid/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
#footer a:hover {
  text-decoration: underline;
}

/* Layout ------------------------------------------------------------------*/
/* line 8, ../../sass/screen.scss */
.container {
  *zoom: 1;
  margin: auto;
  width: 1108px;
  max-width: 100%;
}
/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p180@image-grid/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
