<div class="post">
  <div class="edit"><%= link_to 'Edit', edit_post_path(post) %></div>
  <img src="<%= post.image.url(:main) %>">
  <div class="info">
    <h2><%= post.title %></h2>
    <p><%= post.description %></p>
  </div>
</div>