<div id="posts">
<div class="post alpha">
  <img src="/images/img-placeholder.jpg">
  <div class="info">
    <h2>Awesome Bikes</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>
<div class="post">
  <img src="/images/img-placeholder-4.jpg">
  <div class="info">
    <h2>Awesome Bikes</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>
<div class="post">
  <img src="/images/img-placeholder-3.jpg">
  <div class="info">
    <h2>Awesome Bikes</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>
<div class="post omega">
  <img src="/images/img-placeholder-2.jpg">
  <div class="info">
    <h2>Awesome Bikes</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>
<div class="post alpha">
  <img src="/images/img-placeholder-1.jpg">
  <div class="info">
    <h2>Awesome Bikes</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>

<div class="post">
  <img src="/images/img-placeholder.jpg">
  <div class="info">
    <h2>Awesome Bikes</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>
<div class="post">
  <img src="/images/img-placeholder-4.jpg">
  <div class="info">
    <h2>Awesome Bikes</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>
<div class="post omega">
  <img src="/images/img-placeholder-3.jpg">
  <div class="info">
    <h2>Awesome Bikes</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>
<div class="post alpha">
  <img src="/images/img-placeholder-2.jpg">
  <div class="info">
    <h2>Awesome Bikes</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>
<div class="post ">
  <img src="/images/img-placeholder-1.jpg">
  <div class="info">
    <h2>Awesome Bikes</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>

<div class="post">
  <img src="/images/img-placeholder.jpg">
  <div class="info">
    <h2>Awesome Bikes</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>
<div class="post omega">
  <img src="/images/img-placeholder-3.jpg">
  <div class="info">
    <h2>Awesome Bikes</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>
</div>
<div id="footer">
<ul>
  <li class="title">Collection : </li>
  <li><%= link_to 'New Post', new_post_path %></li>
  <li><a id='animate' href="#">Animate</a></li>
</ul>
</div>