<div id="posts">
  <% if admin_signed_in? -%>
  <div class="post">
    <h2>Create Post</h2>
    <%= render 'form' %>
  </div>
  <% end %>  
  <% @posts.each do |post| %>
    <%# Renders the _post.html.erb partial for each post %>
    <%= render post %>
  <% end %>
</div>

<div id="footer">
  <ul>
    <li class="title">Photos (<%= @posts.count %>):</li>
    <li><%= link_to 'New Post', new_post_path %></li>
    <li><a id='animate' href="#">Animate</a></li>
  </ul>
</div>
