<div id="posts">
  <% @posts.in_groups_of(4).each do |row_of_posts| %>
    <div class="row">
      <%# Renders the _post.html.erb partial for each of the next 4 posts %>
      <%= render row_of_posts %>
    </div>
  <% end %>
</div>

<div id="footer">
  <ul>
    <li class="title">Photos (<%= @posts.count %>):</li>
    <li><%= link_to 'New Post', new_post_path %></li>
    <li><a id='animate' href="#">Animate</a></li>
  </ul>
</div>
