<!DOCTYPE html>
<html>
<head>
  <title>ImageGrid</title>
  <%= stylesheet_link_tag :all %>
  <script src="/javascripts/jquery.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/posts.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/application.js" type="text/javascript" charset="utf-8"></script>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="content">
<%= yield %>
</div>
</body>
</html>
