<!DOCTYPE html>
<html>
<head>
  <title>ImageGrid</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'underscore', 'handlebars', :defaults, 'transform', 'posts' %>
  <%= csrf_meta_tag %>

  <script id="post-template" type="text/x-handlebars-template">
    <div class="post {{ className }}">
      <div class="edit"><a>edit link</a></div>
      <img src="{{ url }}">
      <div class="info">
        <h2>{{ title }}</h2>
        <p>{{ description }}</p>
      </div>
    </div>
  </script>
</head>
<body>
  <div id='content'>
    <%= yield :layout %>
  </div>
</body>
</html>
